.navigation{
    position: absolute;
    background-color: #0c2340;
}

.navigation img, .uniHeading img{
    position: relative;
    height: 80px;
    width: 150px;
    object-fit: fit;
}

.nav-item{
    margin-left: 30px;
    font-size: 20px;
}

.carousel-item img{
    height: 600px;
    object-fit: fill;
}

.subject img{
    height: 100px;
    width: 100px;
}

.subject{
    background-color: rgb(194, 233, 240);
    border-radius: 5px;
}

.pic-gallery img{
    height: 250px;
    width: 250px;
}

.blogs{
    background-color: rgb(139, 167, 191);
    /* background-image: url(https://media.istockphoto.com/id/1198065903/photo/blurry-yellow-and-pink-ambient-stage-light-in-smoke-atmosphere.jpg?b=1&s=612x612&w=0&k=20&c=bXW0CjpWvZafO6VDEPp4onx6ozIyET1NsZVHi3aAK-g=);
    background-repeat: no-repeat; */
}

.blogs img{
    object-fit: fill;
}