body{
    background-color: rgb(1, 15, 15);
}

.form1{
    background-color: rgb(231, 233, 238);
    margin-left: 25%;
    /* margin-right: 250px; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 200px;
    padding-bottom: 20px;
    color: black;
    justify-content: center;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
    border: 4px solid gray;
}

input{
    font-size: 20px;
    margin-top: 20px;
}

label{
    font-size: 20px;
    padding: 20px;
}

#submit{
    background-color: green;
    margin: 20px;
    margin-left: 20%;
    margin-right: auto;
    border-radius: 5px;
}

.io{
    display: inline-block;
}

select{
    font-size: 16px;
    margin-top: 20px;
}

#commentBox{
    margin-top: 20px;
}

.heading{
    color: white;
    font-size: 40px;
}

.click{
    background-color: rosybrown;
    margin: 20px;
    margin-left: 30%;
    margin-right: auto;
    border-radius: 5px;
    font-size: 20px;
}

@keyframes slide{
    0%{
        background-color: blanchedalmond;
    }
    50%{
        background-color: rebeccapurple;
    }
    100%{
        background-color: blanchedalmond;
    }
}

.box{
    margin: 50px;
    background-color: grey;
    margin: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 50px;
    position: relative;
    color: blanchedalmond;
    width: 900px;
    height: 300px;
    transition: width 1s;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.box:hover{
    width: 1000px;
}

@keyframes inner{
    0%{
        position: 0%;
    }
    100%{
        position: 50%;
    }
}

.insideDiv{
    position: absolute;
    right: 25%;
    top: 40px;
    padding: 30px;
    background-color: blue;
    width: auto;
    border: 8px dotted red;
    border-radius: 10px;
    animation-name: inner;
    animation-duration: 5s;
}